html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat-core();

$app-primary: mat-palette($mat-blue, 600);
$app-accent:  mat-palette($mat-amber, 600);
// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-pink, 500);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// https://google.github.io/material-design-icons/

.container {
  align-content: space-around;
  padding: 10px;
  height: auto;
}

.spacer {
  height: 20px;
}

.flex-width {
  flex: auto;
}

.form-width-full {
  width: 100%;
}

.form-width-large {
  width: 75%;
}

.form-width-half {
  width: 50%;
}

.form-width-small{
  width: 25%;
}

.material-icons.default {
  color: mat-color($app-primary);
}

.material-icons.warn {
  color: mat-color($app-warn);
}

.material-icons.accent {
  color: mat-color($app-accent);
}

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);